<section class="container">

	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12">
			<div layout="row" flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Search</label>
					<md-icon class="material-icons">search</md-icon>
					<input type="text" ng-model="vm.search" />
					<div
						add-storage
						data-button-name="Add Category"
						data-collection="vm.categories"
						data-item="Category"
						data-message="What would you name your category?"
						data-add="vm.add(data)"></div>
				</md-input-container>
			</div>
		</div>
	</div>

	<div class="row">
		<div
			ng-if="vm.categories.length > 0"
			class="col-lg-4 col-md-6 col-sm-6 col-xs-12"
			ng-repeat="category in vm.categories | filter:vm.search track by category._id">
			<category
				data-category="category"
				data-remove="vm.remove(category)"
				data-index="$index"></category>
		</div>

		<div
			ng-if="vm.categories.length == 0"
			class="well well-lg text-center col-md-6 col-md-offset-3">
			Please Add A Category
		</div>
	</div>

</section>