<md-dialog aria-label="Mango (Fruit)" style="width: 800px">
    <div layout flex layout-padding>
        <div flex="80">
            <ul dnd-list="vm.formControls">
                <li ng-repeat="control in vm.formControls track by $index" dnd-draggable="control" dnd-effect-allowed="move" dnd-moved="vm.formControls.splice($index, 1)"
                    dnd-selected="vm.selected = control">
                    <dnd-nodrag>
                        <div layout flex layout-align="start center">
                            <div dnd-handle class="handle">
                                <i class="material-icons">import_export</i>
                            </div>
                            <div>
                                {{control}}
                            </div>
                        </div>
                    </dnd-nodrag>
                </li>

                <li class="dndPlaceholder">
                    <div class="well">Drop Control here</div>
                </li>
            </ul>
        </div>

        <div flex>
            <add-control></add-control>
        </div>
    </div>
</md-dialog>