<md-dialog aria-label="Insert record">
    <md-dialog-content layout-padding>

        <ng-form>
            <md-list>
                <md-list-item ng-repeat="control in vm.formControls track by control._id">
                    <render:control directive="{{control.type}}" control="control" collection="vm.formControls"></render:control>
                </md-list-item>
            </md-list>

            <md-input-container class="md-block" layout layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="vm.insert()">
                    Insert Record
                </md-button>
            </md-input-container>
        </ng-form>

    </md-dialog-content>
</md-dialog>