<div>
    <md-card>
        <div layout layout-align="space-between top">
            <md-card-title>
                <md-card-title-text>
                    <span ng-show="!__.editing" class="md-headline" ng-bind="storage.name"></span>
                    <md-input-container ng-show="__.editing" class="no-margin">
                        <label>Change name</label>
                        <input type="text" ng-model="storage.name" aria-label="Change name" />
                    </md-input-container>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions>
                <md-button class="md-warn md-icon-button" ng-click="remove(storage)"><i class="material-icons">clear</i></md-button>
            </md-card-actions>
        </div>
        <md-card-content class="darker" layout layout-align="space-between center">
            <span class="md-subhead" ng-bind="storage.updated | date: 'MM/dd/yyyy'"></span>
            <div>
                <md-button aria-label="Edit" class="md-primary" ng-click="__.edit()" ng-class="{'md-raised':__.editing}" ng-bind="__.editText"></md-button>
                <md-button aria-label="Open" class="md-primary md-raised" ui-sref="category({storageId: storage._id})">Open</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>