<section class="container">

	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12">
			<div layout="row" flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Search</label>
					<md-icon class="material-icons">search</md-icon>
					<input type="text">

					<md-button class="md-primary right">Add Record</md-button>
					<md-button ng-click="vm.showAdvanced($event)" class="md-primary right">Edit Form</md-button>
				</md-input-container>
			</div>
		</div>
	</div>

	<div class="row">

		<table class="table table-striped">
			<thead>
				<tr>
					<th ng-repeat="o in [1, 2, 3, 4, 5, 6]">Column</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in [1, 2, 3, 4]">
					<td ng-repeat="o in [1, 2, 3, 4, 5, 6]">Data</td>
				</tr>
			</tbody>
		</table>
	</div>

</section>