<section class="container">

	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12">
			<div layout="row" flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Search</label>
					<md-icon class="material-icons">search</md-icon>
					<input type="text">

					<md-button class="md-primary right">Add Record</md-button>
					<md-button class="md-primary right">Edit Form</md-button>
				</md-input-container>
			</div>
		</div>
	</div>

	<div class="row">
		<!--<div class="col-md-6" ng-repeat="category in vm.categories track by category._id">
			<category
				data-category="category"
				data-remove="vm.remove(category)"></category>
		</div>-->
	</div>

</section>