<section class="container">

	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12">
			<div layout="row" flex>
				<md-input-container flex class="md-icon-float md-block">
					
					<label>Search</label>
					<md-icon class="material-icons">search</md-icon>
					<input type="text" ng-model="search" />
					
					<div add-storage
						data-button-name="Add Storage"
						data-collection="vm.storages"
						data-item="Storage"
						data-message="What would you name your storage?"
						data-add="vm.add(data)"></div>

				</md-input-container>
			</div>
		</div>
	</div>

	<div class="row">
		<div
			class="col-md-4"
			ng-repeat="storage in vm.storages | filter:search track by storage._id ">

			<storage
				data-storage="storage"
				data-remove="vm.remove(storage)"></storage>
		</div>
	</div>

</section>