<div>
    <md-card>
        <div layout layout-align="space-between top">
            <!-- Category's Name' -->
            <md-card-title>
                <md-card-title-text>
                    <span ng-show="!__.editing" class="md-headline" ng-bind="category.name"></span>
                    <md-input-container ng-show="__.editing" class="no-margin">
                        <label>Change name</label>
                        <input aria-label="Change name" type="text" ng-model="category.name" />
                    </md-input-container>
                </md-card-title-text>
            </md-card-title>

            <!-- Category buttons / actions -->
            <md-card-actions>
                <md-button class="md-warn md-icon-button" ng-click="remove(category)"><i class="material-icons">clear</i></md-button>
            </md-card-actions>
        </div>

        <!-- Category's creation date -->
        <md-card-content class="darker" layout layout-align="space-between center">
            <span class="md-subhead" ng-bind="category.updated | date: 'MM/dd/yyyy'"></span>
            <div>
                <md-button aria-label="Edit" class="md-primary" ng-click="__.edit()" ng-class="{'md-raised':__.editing}" ng-bind="__.editText"></md-button>
                <md-button aria-label="Open" class="md-primary md-raised" ui-sref="record.view({categoryId: category._id})">Open</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>