<section class="container">
	<div layout>
		<!-- RENDERTWO : Renders 2 mdCards at the top -->
		<div ng-repeat="lat in vm.latest" flex>
			<md-card>
				<!-- Name ... Storage | Category -->
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline" ng-bind="::lat.name"></span>
					</md-card-title-text>
				</md-card-title>

				<!-- Last Updated Date && View Button for 2 of them -->
				<md-card-content>
					<div layout layout-align="space-between end">
						<span class="md-subhead" ng-bind="::lat.updated | date: 'MM/dd/yyyy'"></span>

						<md-button class="md-raised md-primary" ui-sref="category({storageId: lat._id})">
							Open
						</md-button>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<!-- end RENDERTWO -->

	<!-- RENDERCHART -->
	<div>
		<md-card>
			<md-card-content class="text-center darker">
				This service is not yet implemented
			</md-card-content>
		</md-card>
		<!--<div flex>
			<md-card layout flex>
				<!- Draws the chart ->
				<div flex="70" class="md-padding">
					<canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"></canvas>
				</div>

				<!- Renders Aside Menu ebside the chart ->
				<div flex="30" class="darker md-padding" layout="column" layout-align="space-between none">
					<md-content>
						<md-list>
							<md-list-item ng-repeat="o in [1, 2, 3, 4, 5]" ng-click="null">
								<span>Some Item</span>
							</md-list-item>
						</md-list>
					</md-content>

					<md-button class="md-raised md-primary">Add Statistic</md-button>
				</div>
			</md-card>
		</div>
		-->
	</div>
	<!-- end RENDERCHART -->

	<!-- LATESTRECORDS: renders 2 latest categories with records -->
	<div layout>
		<div flex ng-repeat="n in [1, 2]">
			<md-card>
				<!-- Category's Title -->
				<md-card-title>
					<md-card-title-text class="md-headline">Some Heading</md-card-title-text>
				</md-card-title>

				<!-- 6 Records per category -->
				<div class="darker md-padding">
					<md-card width="100%" ng-repeat="m in [1, 2, 3, 4, 5, 6]">
						<md-card-content>
							<span class="md-subhead">Some Content</span>
						</md-card-content>
					</md-card>
				</div>
			</md-card>
		</div>
	</div>
	<!-- end LATESTRECORDS -->

</section>