<section class="row" ng-controller="EditProfileController">
  <div>
    <md-card>
      <md-card-content layout-padding>
        <form layout-padding name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">

          <md-input-container class="md-block">
            <label for="apiKey">API Key</label>
            <input type="text" disabled="true" ng-model="getApiKey()">
          </md-input-container>

          <md-input-container class="md-block">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" ng-model="user.firstName" />
            <div ng-messages="userForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">First name is required.</p>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" ng-model="user.lastName" />
            <div ng-messages="userForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Last name is required.</p>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ng-model="user.email" />
            <div ng-messages="userForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Email address is required.</p>
              <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" ng-model="user.username" />
            <div ng-messages="userForm.username.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Username is required.</p>
            </div>
          </md-input-container>

          <md-input-container class="md-block text-center">
            <md-button type="submit" class="md-raised md-primary">Save Profile</md-button>
          </md-input-container>

          <div ng-show="success" class="text-center text-success">
            <strong>Profile Saved Successfully</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</section>