<div layout flex>
  <md-input-container flex class="md-block">
    <p ng-bind="passed.settings.label" class="lead"></p>

    <md-checkbox
      ng-repeat="opt in passed.settings.values"
      ng-model="something"
      aria-label="Checkbox">
      {{ opt }}
    </md-checkbox>
    
    <div ng-messages="Form[passed._id].$error" role="alert" multiple>
      <div ng-message="required" class="my-message">Required</div>
    </div>
  </md-input-container>

</div>
<!--
      ng-checked="exists(opt, passed.settings.selected)"
  
-->