<div layout flex>
    <md-input-container flex class="md-block">
        <label ng-bind="passed.settings.label"></label>
        <input
            name="{{ passed.id }}"
            type="number"
            ng-model="passed.settings.value"
            ng-required="passed.settings.required"
            min="{{passed.settings.min}}"
            max="{{passed.settings.max}}" step="{{passed.settings.step}}" />

        <div ng-messages="Form[passed.id].$error" role="alert" multiple>
            <div ng-message="required" class="my-message">This field is required</div>
        </div>
    </md-input-container>
</div>