<div ng-controller="AuthenticationController">
  <!--<h3 class="col-md-12 text-center">Or with your account</h3>-->
  <br><br>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">

    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <md-input-container show-errors class="md-block">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ng-model="credentials.username" lowercase required />

        <div ng-messages="userForm.username.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Username is required.</p>
        </div>
      </md-input-container>

      <md-input-container show-errors class="md-block">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ng-model="credentials.password" required />

        <div ng-messages="userForm.password.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Password is required.</p>
        </div>
      </md-input-container>

      <md-input-container flex layout layout-align="center center">
        <md-button class="md-primary md-raised" type="submit">Sign in</md-button>
        &nbsp; or&nbsp;
        <md-button class="md-primary" ui-sref="authentication.signup">Sign up</md-button>
      </md-input-container>

      <div class="text-center forgot-password">
        <a ui-sref="password.forgot">Forgot your password?</a>
      </div>

      <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind="error"></span>
      </alert>
    </form>
  </div>
</div>