.darker--span {
    height: 100%;
}

.right {
    float: right;
}

md-input-container.no-margin {
    margin-bottom: 0;
}

md-table-pagination .label {
    color: gray;
}

.pagination>li.active>a {
  background: #00796b;
  color: #fff;
  border: none;
  outline: none;
}
.pagination>li.active>a:hover {
  background: #00695c;
  color: #fff;
}