html,
body {
  background-color: #ededed;
}

body {
  overflow-x: hidden;
}

.jumbotron {
  background-color: silver;
  border-radius: 0;
}

.darker {
  background-color: rgba(0, 0, 0, .05);
}

.content {
  padding-top: 50px;
}
.content-page {
  padding-top: 64px;
}

.padding--sides {
  padding: 0 5% !important;
}

.padding {
  padding: 50px 5%;
}

.container-fluid {
  padding: 0;
}

.margin-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 90%;
  margin: 50px auto;
  padding-bottom: 10px;
}

.service__heading {
  border-bottom: 1px solid #098;
  padding-bottom: 10px;
}
.service__icon {
  font-size: 10em;
  text-align: center;
  width: 100%;
  color: #098;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
